{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "sonarjs", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:jest/recommended",
    "plugin:sonarjs/recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["**/node_modules/**", "dist/**", "src/entity/**"],
  "rules": {
    // These rules are for reference only.
    //#region eslint
    "class-methods-use-this": "off",
    // https://github.com/typescript-eslint/typescript-eslint/issues/1277
    "consistent-return": "off",
    "func-names": "off",
    "max-len": ["error", { "code": 140, "ignoreTemplateLiterals": true, "ignoreUrls": true }],
    "newline-per-chained-call": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    // https://github.com/airbnb/javascript/issues/1342
    "no-param-reassign": ["error", { "props": false }],
    // https://github.com/airbnb/javascript/issues/1271
    // https://github.com/airbnb/javascript/blob/fd77bbebb77362ddecfef7aba3bf6abf7bdd81f2/packages/eslint-config-airbnb-base/rules/style.js#L340-L358
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-void": ["error", { "allowAsStatement": true }],
    "object-curly-newline": "off",
    "spaced-comment": ["error", "always", { "line": { "markers": ["/", "#region", "#endregion"] } }],
    //#endregion

    //#region import
    "import/extensions": ["error", "never"],
    // https://github.com/benmosher/eslint-plugin-import/issues/1753
    "import/named": "off",
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external", "internal"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/prefer-default-export": "off",
    //#endregion

    //#region @typescript-eslint
    "@typescript-eslint/consistent-type-assertions": ["error", { "assertionStyle": "angle-bracket" }],
    "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/naming-convention": [
      "error",
      { "selector": "default", "format": ["strictCamelCase"] },
      { "selector": "variable", "format": ["strictCamelCase", "UPPER_CASE", "StrictPascalCase"] },
      // https://github.com/microsoft/TypeScript/issues/9458
      { "selector": "parameter", "modifiers": ["unused"], "format": ["strictCamelCase"], "leadingUnderscore": "allow" },
      { "selector": "property", "format": null },
      { "selector": "typeProperty", "format": null },
      { "selector": "typeLike", "format": ["StrictPascalCase"] },
      { "selector": "enumMember", "format": ["UPPER_CASE"] }
    ],
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/restrict-template-expressions": ["error", { "allowNumber": true }],
    //#endregion

    //#region sonarjs
    "sonarjs/no-duplicate-string": "off",
    "sonarjs/cognitive-complexity": ["error", 25]
    //#endregion
  }
}
